<body>
	<section class="topSection fright">
	<!-- rightsection  -->
	<div id="mySidenav" class="sidenav">
	 
	<div id="archive11"></div>
	</div>
		<div class="dropdown fleft" hidden="true">
		<div id="room-image"></div>
		  <button class="roomUser dropdown-toggle" type="button" id="roomInfo"  data-toggle="dropdown" aria-expanded="true">
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu userInfo" role="menu" aria-labelledby="dropdownMenu1">
		  </ul>
		 
		 				<!-- 채팅방인원 modal  2016.12.01 -->	  
						<!-- Modal -->
					  <div class="modal fade" id="myModal" role="dialog">
					<!--     <div class="modal-dialog">
					    Modal content
					      <div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title">Invite new member</h4>
					        </div>
					        <div class="modal-body">
					        
					          <div class="col-md-6 member-select">meberSelect
					          
					          <div class=""></div>
					          <div id="group-img"> </div>
					          <div class=""></div>
					          <div class=""></div>
					          
					          </div>
					          <div class="col-md-6 select-list">selectList</div>
					          
					        </div>
					        <div class="modal-footer">
					          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        </div>
					      </div>    
					    </div> -->
					  </div> 

		</div>
		<input type="text" id="room" disabled="disabled">

		    
		<div class="roomOption fright">
		
			<div class="dropdown fright" >
			  <button class="setting dropdown-toggle" type="button" id="setting" data-toggle="dropdown" aria-expanded="true">
			  </button>
			  <ul class="setList dropdown-menu" role="menu" style="min-width: 20px;padding: 0;margin: 0;">
			  	<li>
			  		<button id="roomArchive" class="roomRight">Archive</button>
			  		<button id="roomGallery" class="roomRight">Gallery</button>
			  		<button id="roomLinks" class="roomRight">Links</button>
			  	</li>
			  </ul>
			</div>
			<input class="noti fright" type="text" id="searchRoomArchive" class="form-control" placeholder="search">
			<div id="closeSearchMsg" style="position: relative;top:-23px;float:right;margin-right: 10px;" hidden>X</div>
			<input type="hidden" id='joinRoom'>
			<div id="chatbar"></div>
		</div>
		
		<div class="fright" id="messageSearch" style="width: 15%;" hidden>
			<!-- <input type="button" id="btnSearch" value="search" /> -->
			<input id="countNum" disabled>/<input id="lengthSearch" disabled>
	        <input type="button" class="fright" id="btnNext" value="next" style="width: 4%" />
	        <input type="button" class="fright" id="btnPrev" value="prev" style="width: 4%;"/>  
		</div>
				
		<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title" id="myModalLabel">초대</h4>
		      </div>
		      <div class="modal-body" id="inviteBody">      	
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
		        <button type="button" id="inviteUser" class="btn btn-primary" data-dismiss="modal">확인</button>
		      </div>
		    </div>
		  </div>
		</div>
	</section>
	<div class ="msgbox " id="messages"></div>
	<div class="actionBox"> 
		<div class="dropup fleft" id="plus">
			<button class="plusbtn btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
				<span class="caret"></span>
			</button>
			<div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<form enctype="multipart/form-data" id="fileInfo">
					<input type="hidden" id='you' name='you'>
					<input type="hidden" id='me' name='me'>
					<input type="hidden" id='thisRoom' name='thisRoom'>
					<input type="file" id="file" name="userfile">
					<button id="fileSend" class="send" type="button">파일전송</button>
				</form>
			</div>
		</div>
		<input type="text" id="inputMe" class="msg" name="<%= yourName %>">
		<button id="btnSend" class="sendBtn" type="button"></button>
	</div>
	<div id="rightSection" class="fright">
	</div>
</body>