<body>
	<section class="topSection fright">
		<!-- rightsection  -->
		<div id="mySidenav" class="sidenav">
		 
		 <div id="archive11"></div>
		</div>
		<div class="myRoom-title-img" ></div>
		<input type="text" id="room" disabled="disabled">
		    
		<div class="roomOption fright">
		
			<div class="dropdown fright" >
			  <button class="setting dropdown-toggle" type="button" id="setting" data-toggle="dropdown" aria-expanded="true">
			  </button>
			  <ul class="setList dropdown-menu dropdown-menu-right" role="menu" style="min-width: 20px;padding: 0;margin: 0;">
			  	<li>
			  		<button id="roomArchive" class="roomRight">Archive</button>
			  		<button id="roomGallery" class="roomRight">Gallery</button>
			  		<button id="roomLinks" class="roomRight">Links</button>
			  	</li>
			  </ul>
			</div>
			<input class="noti fright" type="text" id="searchRoomArchive" class="form-control" placeholder="search">
			<div id="closeSearchMsg" hidden></div>
			<input type="hidden" id='joinRoom'>
			<div id="chatbar"></div>
			<div class="fright" id="messageSearch" hidden>
				<!-- <input type="button" id="btnSearch" value="search" /> -->
				<div class="numContainer fleft">
					<input class="menum" id="countNum" disabled>/<input class="menum" id="lengthSearch" disabled>
				</div>
	        	<input type="button" class="mbtn fright" id="btnNext" />
	        	<input type="button" class="mbtn fright" id="btnPrev" />  
			</div>
		</div>
		

				
		<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		</div>
		<div class="progress" style="margin-top: 60px;" hidden>
			<div class="bar"></div >
			<div class="percent">0%</div>
		</div>
	</section>
	<div class ="msgbox " id="messages"></div>
	<div class="actionBox"> 
		<div class="dropup fleft" id="plus">
			<button class="plusbtn btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
				<span class="caret"></span>
			</button>
			<div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<form enctype="multipart/form-data" action="/fileSend" method="post" id="fileInfo">
					<input type="hidden" id='you' name='you'>
					<input type="hidden" id='me' name='me'>
					<input type="hidden" id='thisRoom' name='roomName'>
					<input type="file" id="file" name="userfile">
					<button id="fileSend" class="send" type="submit">파일전송</button>
				</form>
			</div>
		</div>
		<input type="text" id="inputMe" class="msg" name="<%= yourName %>">
		<button id="btnSend" class="sendBtn" type="button"></button>
	</div>

	<div id="rightSection" class="fright">
	</div>
</body>