<body>
<%
	if(his){
		his.forEach(function(his, index) { 
%>
				 <div>
				 	<div class="user-img"></div>
				 	<div>Now, 
				 		<div><%= his.name %></div> is connected with you</div>
				 </div><br/>
<%	
		});
	}
%>
</body>