<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="google" value="notranslate">
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <title>Archa</title>
    <link rel="Stylesheet" href="/stylesheets/index.css" />
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js'></script>
    <link rel="Stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <script type="text/javascript">
	    $(document).ready(function() {
			var idchck = false;
			function idcheck() {
				var id = document.getElementById("eMail");
				window.open("idcheck.action?id=" + id.value, "_blank", "width=600,height=330,titlebar=no");
				idchck = true;
			}
			var bStatus = false;
			
			$('#password').keyup(function(e){
			     // 비밀번호(패스워드) 유효성 체크 (문자, 숫자, 특수문자의 조합으로 8~16자리) 
			      var pwd = document.getElementById("password").value; 
			      //var pwdChk = document.getElementById("passwordconf").value; 
			      var text_box = document.querySelector("#sPwdTxt");
			      //var text_box2 = document.querySelector("#sPwdTxt2");
			      bStatus = false; 
			       
			      if(pwd.length<8 || pwd.length >16){ 
			         	text_box.innerHTML = '비밀번호는 최소 8자 이상, 16자 이하로 구성해야 합니다';    	  	
			      }
			      else if(/^\d/.test(pwd.substr(1).match)){ 
			             text_box.innerHTML = '비밀번호는 숫자로 시작할 수 없습니다'; 
			      }
			      else if(/(\w)\1/.test(pwd)){ 
			             text_box.innerHTML = '비밀번호는 반복된 숫자또는 문자를 입력할 수 없습니다'; 
			      }
			      else{ 
			             text_box.innerHTML = '사용가능한 비밀번호 입니다'; 
			             bStatus = true;
			      }				
			});

			$('#inputChkPwd').keyup(function(e){
			     // 비밀번호(패스워드) 유효성 체크 (문자, 숫자, 특수문자의 조합으로 8~16자리) 
			      var pwd = document.getElementById("password").value; 
			      var pwdChk = document.getElementById("inputChkPwd").value; 
			      var text_box2 = document.querySelector("#sChkPwdTxt");
		
			      if(pwd.length == pwdChk.length) {
				      if(pwdChk != pwd){
				    	  text_box2.innerHTML = '비밀번호가 일치하지않습니다';
				      } else if(pwdChk == pwd){
				    	  text_box2.innerHTML = '비밀번호 일치';
				      }
			      }				
			});
			
		    $("#phoneNumber").on('keydown', function(e){
		        // 숫자만 입력받기
				var trans_num = $(this).val().replace(/-/gi,'');
		 		var k = e.keyCode;
		 				
		 		if(trans_num.length >= 11 && ((k >= 48 && k <=126) || (k >= 12592 && k <= 12687 || k==32 || k==229 || (k>=45032 && k<=55203)) )){
		   	    	e.preventDefault();
				}
			}).on('blur', function(){ // 포커스를 잃었을때 실행합니다.
		         if($(this).val() == '') return;
		  
		         // 기존 번호에서 - 를 삭제합니다.
		         var trans_num = $(this).val().replace(/-/gi,'');
		       
		         // 입력값이 있을때만 실행합니다.
		         if(trans_num != null && trans_num != '')
		         {
		             // 총 핸드폰 자리수는 11글자이거나, 10자여야 합니다.
		             if(trans_num.length==11 || trans_num.length==10) 
		             {   
		                 // 유효성 체크
		                 var regExp_ctn = /^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})([0-9]{3,4})([0-9]{4})$/;
		                 if(regExp_ctn.test(trans_num))
		                 {
		                     // 유효성 체크에 성공하면 하이픈을 넣고 값을 바꿔줍니다.
		                     trans_num = trans_num.replace(/^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})-?([0-9]{3,4})-?([0-9]{4})$/, "$1-$2-$3");                  
		                     $(this).val(trans_num);
		                 }
		                 else
		                 {
		                     alert("유효하지 않은 전화번호 입니다.");
		                     $(this).val("");
		                     $(this).focus();
		                 }
		             }
		             else 
		             {
		                 alert("유효하지 않은 전화번호 입니다.");
		                 $(this).val("");
		                 $(this).focus();
		             }
		       }
			});
		    
		    $(".reg-button").click(function(event){
				event.preventDefault();

				if($("#eMail").val().length == 0 ||
					$("#name").val().length == 0 ||
					$("#password").val().length == 0 ||
					$("#inputChkPwd").val().length == 0 ||
					$("#company").val().length == 0 ||
					$("#position").val().length == 0 ||
					$("#phoneNumber").val().length == 0){
					
					toastr.options.positionClass = "toast-top-center";
					toastr.options.timeOut = 1000;
					
					var text ='';
					
					if($("#eMail").val().length ==0 ) text += 'E-mail ';
					if($("#name").val().length == 0) text += 'name ';
					if($("#password").val().length ==0) text += 'password ';
					if($("#inputChkPwd").val().length ==0) text += 'ChekPass ';
					if($("#company").val().length == 0) text += 'company ';
					if($("#position").val().length == 0) text += 'position ';
					if($("#phoneNumber").val().length ==0) text += 'P.H';
					
					toastr.warning("모두 입력해 주십시요 : "+text);
					
				}else{
					if(!bStatus){
						toastr.options.positionClass = "toast-top-center";
						toastr.options.timeOut = 1000;
						toastr.warning("비밀번호를 확인해주세요.");
					}else{
						$('form').fadeOut(500);
						$('.wrapper').addClass('form-success');
						setTimeout(function(){
							$('form').submit();
						}, 1000);
					}
				}
			});
	    });
</script>
</head>
<body>
	<div class="wrapper" style="margin-top: -300px; height: 600px;">
		<div class="container" style="padding:40px 0;">
			<h1>User Registration</h1>
			
			<form class="form" action="/register" method="POST">
			    <input type="email" id="eMail" name="eMail" placeholder="Email">
			    <input type="text"  id="name" name="name" placeholder="Name">
				<input type="password"  id="password" name="password" placeholder="PASSWD">
				<span id="sPwdTxt"></span>
			    <input type="password"  id="inputChkPwd" placeholder="CHECK PASSWD">
			    <span id="sChkPwdTxt"></span>
			    <input type="text" id="company" name="company" placeholder="Company">
			    <input type="text" id="position" name="position" placeholder="Position">
			    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="PhoneNumber">
			    <button type="submit" class="reg-button" >Reg</button>
			    <button type="button" class="cancel-button" onclick="location.href='/';">Cancel</button>
			</form>
		</div>
		
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>	
	
	
	
</body>
</html>